<html>
      <head>
          <title> Send Notification </title>
            <link href="/static/css/index.css" rel="stylesheet">
       <head>
            <body>
          <div>
      <form method = "post" action = ""> 
       <h2> Enter the Notification you want to send </h2>
        <input type = "text">
        <input type = "submit">
           </div>
        <br> <br> <br>
       <div>
      <img src = "static/images/islam.jpg" alt="islam" height = "400px" weight ="500px" >
      <p> Nice Display</p>

       </div>
      <div>
      <img src = "static/images/b1.jpeg" alt="islam" height = "400px" weight ="500px" >
      <p> Really Beautiful</p>

       </div>


   

          </body>
</html>
